* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: 66px;
  top: 0;
  left: 0;
  width: 100%;
  background: #be3144;
  box-shadow: 0 2px 0 rgb(0 0 0 0.16);
  z-index: 2;
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
}

.navbar-content li {
  padding: 0 20px;
  line-height: 66px;
}

.navbar-content li:hover {
  cursor: pointer;
  background-color: rgb(35, 81, 151);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #3a3d40;
}

.welcome-section-name {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.welcome-section-job {
  margin-top: 16px;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: rgb(188, 57, 57);
}

.projects {
  text-align: center;
  padding: 10rem 2rem;
  background: #45567d;
}

.projects-title {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #ffffff;
  font-size: 4.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.project-item {
  margin-bottom: 6rem;
}
.project-item-link {
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
  text-decoration: none;
  margin-bottom: 6rem;
}

.project-img {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: #f0f0f0;
  background-color: #303841;
}

.code {
  color: #f0f0f0;
}
